

* {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
}

button {
    border: none;
    border-radius: 1rem;
    background-color: lightgray;
    padding: 0.5rem 0.8rem;
    margin: auto;
}

button:hover {
    font-weight: bold;
    transform: translateY(-0.25rem);
    box-shadow: 2px 2px 5px;
}

#input-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#input-source {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

#ascii-output {
    font-size: 0.25rem;
    white-space: nowrap;
}

canvas {
    border: 1px solid;
}

#canvases {
    display: none;
}

#display {
    display: flex;
    height: max-content;
    justify-content: space-around;
    align-items: start;
    gap: 0.5rem;
}

.small {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#support-this-project {
    position: fixed;
    font-size: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
}